.standard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.standard-form-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.standard-input-group {
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.standard-input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

.standard-input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 92%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}
